* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 380px;
    max-width: 3840px;
    min-height: 700px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    letter-spacing: 2px;
    font-size: large;
    font-family: "Times New Roman", Times, serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: white;
}

.nav-links a {
    color: black;
}


ul {
    margin-left: 7rem;
}


.menu {
    display: flex;
    gap: 3em;
    font-size: 15px;
}

.menu li:hover {
    border-radius: 5px;
    transition: 5s ease;
}

.menu li {
    padding: 5px 14px;
}



input[type="checkbox"] {
    display: none;
}


.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}


.mainLogo {
    display: flex;
    margin-right: 2rem;
}

.mainLogo a {
    color: black;
    padding-right: 1rem;
}

.mainLogo a:nth-child(2) {
    font-size: 1.2rem;
}

.circle {
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px;
}


@media (max-width: 1186px) {
    .menu {
        gap: 2em;
    }

    ul {
        margin-left: 3rem;
    }

    .navbar {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .menu {
        gap: 1em;
    }

    ul {
        margin-left: 2rem;
    }
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;

        background-color: white;
        z-index: 1;
        right: 0;
        left: 0;


    }
    .container-text{
        width: 67vw;
            height: 200px;
            top: 140px;
    }
    .cards{
        flex-direction: column;
    }

    .menu li {
        margin: 2rem;
        font-size: large;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type="checkbox"]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }
}


section {
    background-image: linear-gradient(to right, #ff85a8, #ffcd68);
    width: 100%;
}



.container {
    width: 100%;
}


.container img {
    width: 100%;
    object-fit: cover;
    padding-bottom: -200px;
}


.container-text {
    /* position: absolute;
    top: 40%;
    left: 10%;
    background-color: rgba(241, 110, 132, 0.7);
    width: 45%;
    color: white;
    overflow: hidden;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif; */
        width: 42vw;
            height: 227px;
            background-color: rgba(241, 110, 132, .7);
            color: white;
            position: absolute;
            top: 295px;
            opacity: 0.8;
            font-weight: 900;
            left: 80px;
}

.con-text{
        margin: 40px;
            padding: 15px;
}

.container-text h1 {
    font-size: 3rem;
    letter-spacing: 4px;
    margin-bottom: 0.5rem;
}


.container p {
    letter-spacing: 1px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.919);
}



@media (max-width: 1090px) {

    .container-text h1 {
        font-size: 1.5rem;
        letter-spacing: 1px;
    }

    .container-text {
        width: 67vw;
            height: 200px;
            top: 140px;
    }
}

@media (max-width: 827px) {

  .container-text{
    width: 67vw;
        height: 200px;
        top: 140px;
  }
    .con-text {
        margin: 30px;
            padding: 10px;
    }

    /* .container-text h1 {
        font-size: 0.5rem;
        letter-spacing: 1px;
    } */

    .container p {
       
        letter-spacing: normal;
    }
}

@media (max-width: 552px) {
    .container-text {
        width: 60vw;
    }
    .con-text{
        margin: 30px;
            padding: 10px;
    }

    /* .container-text h1 {
        font-size: 0.5rem;
        letter-spacing: 1px;
    } */

    .container p {
       letter-spacing: normal;
    } 

    .container img {
        object-fit: cover;
        padding-bottom: 0;
    }
}

@media (max-width: 320px) {
    .container-text {
        width: 60%;
        height: 70%;
    }

}


footer {
    background-image: linear-gradient(to right, #ff85a8, #ffcd68);
    width: 100%;

}


.container2 .center {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: white;
    letter-spacing: 5px;
    font-size: larger;
    font-family: sans-serif;
    padding-top: 6rem;
}

.cards {
    /* display: flex;
    justify-content: space-around;
    width: 100%;
    object-fit: cover;
    margin: 4rem auto;
    font-family: sans-serif; */
    display: flex;
        justify-content: space-around;
        margin: 20px 0 0 20px;
        flex-wrap: wrap;
        margin: 4rem auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1rem 1rem 2rem 1rem;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 20%;
    cursor: pointer;
}

.card img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-top-right-radius: 25%;
}

.card .card-name {
    letter-spacing: 1px;
    margin: 0.5rem;
}

.card p {
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}


.button {
    display: flex;
    justify-content: center;
}

.button button {
    width: 150px;
    height: 48px;
    background-color: pink;
    color: #191919;
    border-radius: 25px;
    border: none;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
}


@media (max-width: 900px) {


    .container2 .center {
        padding-top: 3rem;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap:20px;
        justify-content: space-evenly;
        /* height: 140vh; */

        .line {
            width: 100%;
            height: 30px;
            top: 20px;
        }
    }

    .card img {
        height: 180px;
        width: 180px;
    }

    .card p {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .container2 .center {
        font-size: 10px;

    }

    /* .cards {
        margin-top: -1rem;
    } */

    .card img {
        height: 140px;
        width: 140px;
    }

    .card p {
        font-size: 10px;
    }
}